<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Haber</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="Home">Ana Sayfa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Weather">Hava Durumu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Contact">İletişim</a>
        </li>
    </ul>
    <script src="~/Scripts/jquery-3.0.0.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
@RenderBody()
</html>
